@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
.gallery{position: relative;
    top:10rem;
    width:900px;
    height:100vh;
    margin: 0 auto;
    text-align: center;
}
.gallery h1{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 1.5rem;
    letter-spacing: .1rem;
    word-spacing: .3rem;
}
.gallery .images{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
    margin-top: 4rem;
}
.images .image{
    height:500px;
    width:300px;
    cursor: pointer;
}
.image1 .overlay1{
    position: absolute;
    background-color:rgba(246,246,246,0.5);
    height:500px;
    width:300px;
    opacity: 0;
    transition: .5s ease;
}
.image1:hover .overlay1{
    opacity: 1;
}
.image2 .overlay2{
    position: absolute;
    background-color:rgba(246,246,246,0.5);
    height:500px;
    width:300px;
    opacity: 0;
    transition: .5s ease;
}
.image2:hover .overlay2{
    opacity: 1;
}
.image3 .overlay3{
    position: absolute;
    background-color:rgba(246,246,246,0.5);
    height:500px;
    width:300px;
    opacity: 0;
    transition: .5s ease;
}
.image3:hover .overlay3{
    opacity: 1;
}


.image1{
    background-image: url('https://images.pexels.com/photos/2565222/pexels-photo-2565222.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-position: center;
    transition: 5s;
    animation-name: animate1;
    animation-direction:alternate;
    animation-duration:30s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
}
@keyframes animate1 {
    0%{
        background-image: url('https://images.pexels.com/photos/2565222/pexels-photo-2565222.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    }
    20%{
       background-image: url('https://images.pexels.com/photos/4946764/pexels-photo-4946764.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
    }
    40%{
        background-image: url('https://images.pexels.com/photos/2565222/pexels-photo-2565222.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    }
    60%{
        background-image: url('https://images.pexels.com/photos/4946764/pexels-photo-4946764.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
     }

}
.image2{
    background-image: url('https://images.pexels.com/photos/2351274/pexels-photo-2351274.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-position: center;
    animation-name: animate2;
    animation-direction: alternate;
    animation-duration:30s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
}
@keyframes animate2 {
    0%{
        background-image: url('https://images.pexels.com/photos/2351274/pexels-photo-2351274.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    }
    20%{
       background-image: url('https://images.pexels.com/photos/3700253/pexels-photo-3700253.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    }
    40%{
        background-image: url('https://images.pexels.com/photos/2351274/pexels-photo-2351274.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    }
    60%{
        background-image: url('https://images.pexels.com/photos/3700253/pexels-photo-3700253.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
     }
}
.image3{
    background-image: url('https://images.pexels.com/photos/3865676/pexels-photo-3865676.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-position: center;
    animation-name: animate3;
    animation-direction: alternate;
    animation-duration:30s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
}
@keyframes animate3 {
    0%{
    background-image: url('https://images.pexels.com/photos/3865676/pexels-photo-3865676.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    }
    20%{
       background-image: url('https://images.pexels.com/photos/4916534/pexels-photo-4916534.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    }
    40%{
    background-image: url('https://images.pexels.com/photos/3865676/pexels-photo-3865676.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    }
    60%{
        background-image: url('https://images.pexels.com/photos/4916534/pexels-photo-4916534.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
     }
}